body {
    background-color: #22120a;
}

.webody {
    font-size: 48px;
    position: absolute
}

.pixel {
    position: absolute;
    width: 2px;
    height: 2px;
}

.speech-area {
    background-color: #dede8a;
    font-family: Verdana, sans-serif;
}

.speech {
    position: absolute;
    font-size: 20px;
}